


<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Localidad</legend>
        <mat-form-field class="campos">
            <input matInput [formControlName]='formControlNames.nombreLocalidad' placeholder="Nombre Localidad"
                type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="campos">
            <input matInput [formControlName]='formControlNames.viviendasBeneficiadas'
                placeholder="viviendasBeneficiadas" type="text" autocomplete="off">
        </mat-form-field>
        <app-sistemaagua [formControlName]="formControlNames.sistemaAgua"></app-sistemaagua>

        <div [formArrayName]="formControlNames.centrosEducativos"
            *ngFor="let uncentroEducativo of formGroupControls.centrosEducativos.controls; let i = index" class="box">
            <div><app-centroeducativo [formControl]="uncentroEducativo"></app-centroeducativo></div>

            <div><button mat-mini-fab color="primary" (click)="eliminaCentroEducativo(i)" [disabled]="formGroup.disabled">
                <mat-icon>delete</mat-icon>
            </button></div>
        </div>

        <div>
            <button mat-raised-button color="primary" (click)="agregaCentroEducativo()" [disabled]="formGroup.disabled">
                Agrega un Centro Educativo
            </button>
            <input type="file" [formControlName]='formControlNames.fotos'>

        </div>
        
    </fieldset>


</section>