


<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Localidad</legend>
        <mat-form-field class="campos">
            <input matInput [formControlName]='formControlNames.nombreLocalidad' placeholder="Nombre Localidad"
                type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="campos">
            <input matInput [formControlName]='formControlNames.viviendasBeneficiadas'
                placeholder="viviendasBeneficiadas" type="text" autocomplete="off">
        </mat-form-field>
        <app-sistemaagua [formControlName]="formControlNames.sistemaAgua"></app-sistemaagua>

        <div [formArrayName]="formControlNames.centrosEducativos"
            *ngFor="let uncentroEducativo of formGroupControls.centrosEducativos.controls; let i = index" class="box">
            <div><app-centroeducativo [formControl]="uncentroEducativo"></app-centroeducativo></div>

            <div><button mat-mini-fab color="primary" (click)="eliminaCentroEducativo(i)">
                <mat-icon>delete</mat-icon>
            </button></div>
        </div>

        <div [formArrayName]="formControlNames.fotos"
            *ngFor="let unaFoto of formGroupControls.fotos.controls; let i = index" class="box">
            <div><app-foto [formControl]="unaFoto"></app-foto></div>

            <div><button mat-mini-fab color="primary" (click)="eliminaUnaFoto(unaFoto.value,i)">
                <mat-icon>delete</mat-icon>
            </button></div>
        </div>

        









        <div>
            <button mat-raised-button color="primary" (click)="agregaCentroEducativo()">
                Agrega un Centro Educativo
            </button>

            <button mat-raised-button color="primary" (click)="agregarUnaFoto()">
                Agrega Foto de Crokis de Abastecimiento
            </button>
            
            

        </div>
        
    </fieldset>


</section>