
<ul [@listAnimation]="todos.length" class="todos">

    <li *ngFor="let todo of todos" class="todo">
        {{todo.data}}
        <button class="remove" (click)="removeTodo(todo.id)">&times;</button>

    </li>
    
</ul>
<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Información</mat-card-title>
      
    </mat-card-header>
   
    <mat-card-content>
        <section [formGroup]='formGroup'>
            <fieldset>
                <legend>Generalidades</legend>
                <mat-form-field class="campos">
                    <input matInput type="text" [formControlName]='formControlNames.nombreProyecto' placeholder="Nombre Proyecto" autocomplete="off">
                </mat-form-field>
                
                <mat-form-field class="campos">
                    <mat-label>Fecha Aprovación</mat-label>
                    <input matInput type="text" [formControlName]='formControlNames.fechaAprobacion' [matDatepicker]="picker" autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="campos">
                    <input matInput type="text" [formControlName]='formControlNames.snip' placeholder="SNIP" autocomplete="off">
                </mat-form-field>
                <mat-form-field class="campos">
                    <input matInput type="text" [formControlName]='formControlNames.cliente' placeholder="Cliente" autocomplete="off">
                </mat-form-field>
                <mat-form-field class="campos">
                    <input matInput type="text" [formControlName]='formControlNames.nroInformeTecnico' placeholder="Informe Técnico Nº" autocomplete="off">
                </mat-form-field>
                <mat-form-field class="campos">
                    <input matInput type="text"  [formControlName]='formControlNames.anioPriorizacion' placeholder="Año de Priorización" autocomplete="off">
                </mat-form-field>
        
                <mat-form-field class="campos">
                    <input matInput type="text"  [formControlName]='formControlNames.aliasProyecto' placeholder="alias del Proyecto" autocomplete="off">
                </mat-form-field>
            
            </fieldset>
            <app-responsable [formControlName]='formControlNames.responsable'></app-responsable>
            <mat-form-field>
                <input matInput type="text"  [formControlName]='formControlNames.anioPriorizacion' placeholder="Aprovación del Perfil" autocomplete="off">
            </mat-form-field>
            <app-ubicacionproyecto [formControlName]='formControlNames.ubicacionproyecto'></app-ubicacionproyecto>
            <app-limiteprovincia [formControlName]='formControlNames.limiteProvincia'></app-limiteprovincia>
        
        
        
            
                
            <div [formArrayName]="formControlNames.localidades"
                *ngFor="let unaLocalidad of formGroupControls.localidades.controls; let i = index" class="box">
                <div><app-localidad [formControl]="unaLocalidad"></app-localidad></div>
            
                <div><button mat-mini-fab color="primary" (click)="eliminaLocalidad(i)" >
                    <mat-icon>delete</mat-icon>
                </button></div>
            </div>


            
            <!--
                <div  [formArrayName]="formControlNames.viasAcceso"
                *ngFor="let unaVia of formGroupControls.viasAcceso.controls; let i = index">
                <app-viaacceso [formControl]="unaVia"></app-viaacceso>
            
                <button mat-mini-fab color="primary" (click)="eliminaViaAcceso(i)" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            -->
            <div  [formArrayName]="formControlNames.viasAcceso"
                *ngFor="let unaVia of formGroupControls.viasAcceso.controls; let i = index" class="box">
                <div><app-viaacceso [formControl]="unaVia"></app-viaacceso></div>
                <div><button mat-mini-fab color="primary" (click)="eliminaViaAcceso(i)" >
                    <mat-icon>delete</mat-icon>
                </button></div>
            
                
            </div>
           
            
            
            
            





           
            
               
        </section>
     
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="agregaLocalidad()" >Agrega una Localidad</button>
        <button mat-raised-button color="primary" (click)="agregaViaAcceso()" >Agrega una Via de Acceso</button>
        <button mat-raised-button color="primary" (click)=guardarProyecto()>Configurar Proyecto</button>
    </mat-card-actions>
  </mat-card>

   

