<fieldset>
    <legend>Dimenciones:</legend>
    <mat-form-field>
        <input matInput placeholder="Largo" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Ancho" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Espesor" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Alto" type="text" autocomplete="off">
    </mat-form-field>
</fieldset>