<fieldset>
    <legend>Limites de la Provincia:</legend>
    <mat-form-field>
      <input matInput type="text" placeholder="Este" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Oeste" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Norte" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Sur" autocomplete="off">
      </mat-form-field>
  </fieldset>