<fieldset>
    <legend>Centro Educativo:</legend>
    <mat-form-field>
        <input matInput placeholder="Código Modular" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nombre I.E" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Dirección I.E" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nivel - Modalidad" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Gestión - Dependencia" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nro. Alumnos" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nro. Docentes" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Secciones" autocomplete="off">
    </mat-form-field>
    
</fieldset>