<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Intervencion</legend>

        <mat-form-field>
            <input matInput [formControlName]='formControlNames.anio' placeholder="Año de Intervencion" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput [formControlName]='formControlNames.ejecutor' placeholder="Ejecutor" type="text" autocomplete="off">
        </mat-form-field>
        <app-captacion [formControlName]='formControlNames.captacion'></app-captacion>
    </fieldset>

</section>