<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Dimenciones</legend>
        <mat-formfield>
            <input [formControlName]='formControlNames.alto' placeholder="Alto" type="text" autocomplete="off">
        </mat-formfield>
        <mat-formfield>
            <input [formControlName]='formControlNames.ancho' placeholder="Ancho" type="text" autocomplete="off">
        </mat-formfield>
        <mat-formfield>
            <input [formControlName]='formControlNames.espesor' placeholder="Espesor" type="text" autocomplete="off">
        </mat-formfield>
        <mat-formfield>
            <input [formControlName]='formControlNames.largo' placeholder="Largo" type="text" autocomplete="off">
        </mat-formfield>
    </fieldset>

</section>
