<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Captación:</legend>
        <mat-form-field>
            <input matInput placeholder="Año" autocomplete="off">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nombre Captación" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Aforo" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tipo de Captación" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Antiguedad" autocomplete="off">
        </mat-form-field>

        <mat-checkbox>Fuga de Agua</mat-checkbox>
        <mat-checkbox>Operativo</mat-checkbox>
        <app-mantenimientos></app-mantenimientos>
        <app-manterialesutilizados></app-manterialesutilizados>
        <app-dimenciones></app-dimenciones>
    </fieldset>



</section>