.box {
  
    display: flex ;
    align-items: center;
    
    justify-content: flex-start;
  }
.mat-checkbox {
    margin-left: 10px;
}
.mat-form-field{
    margin-left: 10px;
}
fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #FFD3CE;
    border-radius: 5px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #1F497D;
    margin-left: 20px;
}
