<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Captación</legend>
        
        <mat-form-field>
            <input [formControlName]='formControlNames.nombreCaptacion' matInput placeholder="Nombre Captación"
                autocomplete="off">
        </mat-form-field>
        
        <mat-form-field>
            <input [formControlName]='formControlNames.aforo' matInput placeholder="Aforo" autocomplete="off">
        </mat-form-field>
        
        <mat-form-field>
            <input [formControlName]='formControlNames.tipoCaptacion' matInput placeholder="Tipo de Captación"
                autocomplete="off">
        </mat-form-field>
        
        <mat-form-field>
            <input [formControlName]='formControlNames.antiguedad' matInput placeholder="Antiguedad" autocomplete="off">
        </mat-form-field>
        
        <mat-form-field>
            <input [formControlName]='formControlNames.materialUtilizado' matInput placeholder="Material Utilizado"
                autocomplete="off">
        </mat-form-field>

        <mat-checkbox [formControlName]='formControlNames.fugaAgua'>Fuga de Agua</mat-checkbox>
        <mat-checkbox [formControlName]='formControlNames.operativo'>Operativo</mat-checkbox>
        <mat-checkbox [formControlName]='formControlNames.funcionamiento'>Funcionamiento</mat-checkbox>
        <app-dimension [formControlName]='formControlNames.dimension'></app-dimension>
        
        <div [formArrayName]="formControlNames.mantenimientos" *ngFor="let unMantenimiento of formGroupControls.mantenimientos.controls; let i=index" class="box">

            <div><app-mantenimiento [formControl]="unMantenimiento"></app-mantenimiento></div>
            <div><button mat-mini-fab color="accent" (click)="eliminaMantenimiento(i)">
                <mat-icon>delete</mat-icon>
            </button></div>
            
            
        </div>
       
       
        

       
        
        <div [formArrayName]='formControlNames.fotos'
            *ngFor="let unaFoto of formGroupControls.fotos.controls;let i=index">
            <app-foto [formControl]='unaFoto'></app-foto>
        </div>
        <button mat-raised-button color="primary" (click)="agregarFoto()" [disabled]="formGroup.disabled">
            Agregar Fotos de Captación
        </button>
        <button mat-raised-button color="primary" (click)="agregarMantenimiento()" >
            Agregar Mantenimiento
        </button>
    </fieldset>



</section>