<section [formGroup]="formGroup">
  
    <mat-form-field>
        <input matInput placeholder="Nombre Proyecto" type="text" autocomplete="off" [formControlName]='formControlNames.nombreProyecto'>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput type="text" placeholder="Empresa Responsable" autocomplete="off" [formControlName]='formControlNames.empresaResponsable'>
    </mat-form-field>
    
    <h2>INSTALAR DEPENDENCIAS</h2>
    <!--
        <app-chkboxgroup [formControl]="checkboxes"></app-chkboxgroup>

    -->
    

<hr>

<!-- check how our data set looks like -->
<!--
<pre>{{ checkboxes.value | json }}</pre>
-->
    
</section>