<section class="container" [formGroup]="formGroup">
    <div class="row">
        <div class="col-6">
            <mat-form-field>
                <input matInput placeholder="Nombre Proyecto" type="text" autocomplete="off"
                    [formControlName]='formControlNames.nombreProyecto'>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Empresa Responsable" autocomplete="off"
                    [formControlName]='formControlNames.empresaResponsable'>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <h2>INSTALAR DEPENDENCIAS</h2>

    </div>
    <!--
<app-chkboxgroup [formControl]="checkboxes"></app-chkboxgroup>

    -->
    <app-listaetapa></app-listaetapa>



    <hr>

    <!-- check how our data set looks like -->

    <pre>{{ checkboxes.value | json }}</pre>

</section>