<section [formGroup]="formGroup">
    <input matInput placeholder="Nombre Proyecto" type="text" autocomplete="off" [formControlName=formControlNames.nombreProyecto></input>
    <input matInput type="text" placeholder="Empresa Responsable" autocomplete="off" [formControlName]=formControlNames.empresaResponsable>
    <!--
        el boton grabará y pasará a la pantalla lista de las dependencias a instalar en el proyecto 
    -->
    <button mat-button (click)='continuar()'> </button>
    
</section>