<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Ubicacion del Proyecto:</legend>
        <mat-form-field>
            <input matInput placeholder="Region" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Provincia" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Distrito" type="text" autocomplete="off">
        </mat-form-field>
    </fieldset>

</section>