<fieldset>
    <legend>Vias de Acceso:</legend>
    <mat-form-field>
        <input matInput placeholder="Nombre Lugar" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Tipo de Vía" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Distancia (Km)" type="text" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Tiempo (min)" type="text" autocomplete="off">
    </mat-form-field>
    
</fieldset>