<section [formGroup]="formGroup">
  <mat-divider></mat-divider>
  <div class="row" [ngStyle]="{'background-color':'pink'}">
    <div class="col-6" >
      <mat-form-field>
        <input matInput type="text" placeholder="urlfirestore" [formControlName]="formControlNames.urlfirestore" autocomplete="off"/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <input matInput type="text" placeholder="Descripción" [formControlName]="formControlNames.descripcion" autocomplete="off"/>
      </mat-form-field>
    </div>

  </div>
  
</section>
    
  
    
  