<fieldset>
  <legend>Autoridades Responsables:</legend>
  <mat-form-field>
    <input matInput placeholder="Unidad Formuladora" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Unidad Ejecutora" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Unidad Evaluadora" autocomplete="off">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Entidad que Aprueba Perfil" autocomplete="off">
  </mat-form-field>
</fieldset>