<section [formGroup]='formGroup'>

    <fieldset>
        <legend>Localidades:</legend>
        <mat-form-field>
            <input matInput [formControlName]='formControlNames.' placeholder="Nombre Localidad" autocomplete="off">
        </mat-form-field>

        <app-centroeducativo></app-centroeducativo>

        <mat-form-field>
            <input matInput placeholder="Viviendas Beneficiadas" autocomplete="off">
        </mat-form-field>

        <input type="file" placeholder="Informe Técnico Nº" autocomplete="off">
        <app-historicoagua></app-historicoagua>

    </fieldset>
</section>