<section [formGroup]='formGroup'>
    <fieldset>
        <legend>Responsables de las Unidades</legend>
    
        <mat-form-field class="campos">
            <input matInput [formControlName]='formControlNames.formuladora' placeholder="Formuladora" type="text" autocomplete="off">
        </mat-form-field >
        <mat-form-field class="campos">
            <input matInput [formControlName]='formControlNames.ejecutora' placeholder="Ejecutora" type="text" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="campos">
            <input matInput [formControlName]='formControlNames.evaluadora' placeholder="Evaluadora" type="text" autocomplete="off">
        </mat-form-field>
    
    
    </fieldset>

</section>
